 <!-- Publication Modals -->
 {% for pub in site.data.pubs %}
    <div class="portfolio-modal modal fade" id="publicationsModal-{{ pub.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h3>{{ pub.title }}</h3>
			    <h4>{{pub.authors}}</h4>
			    <p>{{pub.pubInfo}}</p>
                            <hr class="star-primary">
                            <img src="img/publications/{{ pub.img }}" class="img-responsive img-centered" alt="{{ pub.alt }}">
                            <p>{{ pub.description }}</p>
                            
			      <a href={{pub.link}} class="btn btn-default">
				<i class="fa fa-download"></i> Download
			      </a>
			    

                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
